# SQL-Alchemy URL Configuration

connection = "mysql+mysqlconnector://{{dbuser}}:{{dbpass}}@{{dbendpoint}}/{{dbname}}" 

dbuser = "admin"
dbpass = "admin1234"
dbendpoint = "python-flaskdb.cfzrgfw3zego.us-east-1.rds.amazonaws.com"
dbname = "flaskdb"
